* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

/* common class style start  */
.container {
  max-width: 1360px;
  margin: auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-btn {
  display: inline-block;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #30b868;
  border-radius: 4px;
  border: 2px solid #30b868;
  transition: all 0.3s;
}

.primary-btn:hover {
  color: #f95555;
  background: #fff;
  border: 2px solid #f95555;
}

.secondary-btn {
  display: inline-block;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #fff;
  transition: all 0.3s;
}

.secondary-btn:hover {
  color: #001931;
  background: #f95555;
  border: 2px solid #fff;
}
/* common class style end */

/* navigation style start  */
.nav {
  padding: 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.nav .nav-link ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav .nav-link ul a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #001931;
  position: relative;
  transition: all 0.3s;
}

.nav .nav-link ul a::after {
  content: "";
  background: #f95555;
  height: 1px;
  width: 0;
  position: absolute;
  top: 25px;
  left: 0;
  transition: width 0.8s;
}

.nav .nav-link ul a:hover {
  color: #f95555;
}

.nav .nav-link ul a:hover::after {
  width: 100%;
}
/* navigation style end */

/* hero section style start */
.hero {
  background: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 675px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  max-width: 780px;
}

.hero .hero-info h2 {
  color: #30b868;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background: #f7f6f2;
  padding: 8px 12px;
  border-radius: 100px;
  border: 2px solid #f7f6f2;
  transition: all 0.3s;
}

.hero .hero-info h2:hover {
  border: 2px solid #30b868;
}

.hero .hero-info h1 {
  font-size: 72px;
  color: #fff;
  line-height: 84px;
  text-transform: capitalize;
}

.hero .hero-info h1 span {
  color: #30b868;
}

.hero .hero-info p {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.hero .hero-info .hero-btn {
  gap: 16px;
  margin-top: 16px;
}
/* hero section style end */

/* notes section style start */
.notes {
  margin: 120px auto;
  text-align: center;
}

.notes .notes-title h2 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.notes .notes-title p {
  color: #627382;
  font-style: 16px;
  margin-bottom: 44px;
}

.notes .notes-card-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 24px;
}

.notes .notes-card-container .notes-card {
  padding: 50px 24px;
  max-width: 332px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
}

.notes .notes-card-container .notes-card:hover .notes-card-img {
  background: #30b868;
}

.notes .notes-card-container .notes-card .notes-card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f95555;
  padding: 15px;
  border-radius: 50%;
}

.notes .notes-card-container .notes-card .notes-card-img img {
  width: 32px;
  height: 32px;
}

.notes .notes-card-container .notes-card h4 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  text-transform: capitalize;
}

.notes .notes-card-container .notes-card p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
}
/* notes section style end */

/* the solution section style start */
.solution {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.solution .solution-image img {
  border-radius: 12px;
  max-width: 600px;
}

.solution-info {
  padding-right: 120px;
}

.solution-info .solution-info-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.solution .solution-info .solution-info-title h2 {
  font-size: 16px;
  font-weight: 500;
  color: #30b868;
  text-transform: uppercase;
}

.solution .solution-info .solution-info-title h1 {
  font-size: 48px;
  color: #001931;
}

.solution .solution-info .solution-info-title p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  margin-bottom: 40px;
}

.solution .solution-info ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.solution .solution-info li {
  background: url("./assets/CheckCircle.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
  line-height: 20px;
}
/* the solution section style end */

/* get early access section start */
.early-access {
  background: #f7f6f2;
  margin: 120px auto;
  padding: 80px 0;
  border-radius: 12px;
  text-align: center;
}

.early-access .early-access-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.early-access .early-access-info-title h1 {
  color: #001931;
  font-size: 40px;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.early-access .early-access-info p {
  color: #627382;
  font-size: 16px;
  line-height: 24px;
  margin: 16px auto 0px;
}
/* get early access section end */

/* footer style start  */
.footer {
  background: #001931;
  padding-top: 120px;
}

.footer-content hr {
  background: #627382;
  opacity: 0.2;
  margin-top: 80px;
}

.footer .footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .footer-top .footer-social p {
  font-size: 20px;
  font-weight: 500;
  padding-right: 110px;
  line-height: 28px;
  color: #f7f6f2;
}

.footer .footer-top .footer-social .social-link {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.footer .footer-top .footer-social .social-link a {
  font-size: 20px;
  color: #f7f6f2;
  transition: all 0.3s;
}

.footer .footer-top .footer-social .social-link a:hover {
  color: #30b868;
}

.footer-bottom {
  padding: 30px 0;
  color: #f7f6f2;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
/* footer style end */
