* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* common class style start  */
.container {
  max-width: 1360px;
  margin: 0 auto;
}

.primary-btn {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #30b868;
  border-radius: 4px;
  border: 2px solid #30b868;
}

.primary-btn:hover{
  color: #F95555;
  background: #fff;
  border: 2px solid #F95555;
}
/* common class style end */

/* navigation style start  */
.nav {
  padding: 16px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.nav .nav-link ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav .nav-link ul a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.nav .nav-link ul a:hover{
  color: #F95555;
}
/* navigation style end */
